  certbot:
    image: certbot/certbot
    container_name: certbot
    volumes:
      - ${CONFIG_DIR}/certbot/conf:/etc/letsencrypt
      - ${CONFIG_DIR}/certbot/www:/var/www/certbot
    command: >
      certonly --agree-tos
        --domain {{ domain_name }}
        --email duongtq@fpt.com
        --force-renewal
        --webroot
        --webroot-path /var/www/certbot
