---
- name: Add certbot service block to docker-compose
  ansible.builtin.blockinfile:
    dest: '{{ project_dir }}/docker-compose.yaml'
    marker: '  # {mark} ANSIBLE MANAGED CERTBOT BLOCK'
    content: "{{ lookup('template', 'certbot-service-block.j2') }}"

- name: Run certbot to generate certificate
  ansible.builtin.command:
    cmd: docker compose run --rm certbot
    chdir: '{{ project_dir }}'
  changed_when: false
