---
- name: Ensure config and nginx folders exist
  ansible.builtin.file:
    path: '{{ item }}'
    state: directory
    mode: '0700'
  loop:
    - '{{ config_dir }}'
    - '{{ config_dir }}/nginx'

- name: Deploy nginx config template
  ansible.builtin.template:
    src: '{{ subdomain_name }}-nginx.conf.j2'
    dest: '{{ config_dir }}/nginx/{{ domain_name }}.conf'
    mode: '0644'
  vars:
    ssl_enabled: '{{ enable_ssl | default(false) }}'

- name: Add nginx service block to docker-compose
  ansible.builtin.blockinfile:
    dest: '{{ project_dir }}/docker-compose.yaml'
    marker: '  # {mark} ANSIBLE MANAGED NGINX BLOCK'
    content: "{{ lookup('template', subdomain_name + '-nginx-service-block.j2') }}"

- name: Restart nginx
  ansible.builtin.include_role:
    name: docker-compose-helper
  vars:
    chdir: '{{ project_dir }}'
    target_service: nginx
