  {{ sub_project_name }}:
    image: {{ sub_project_name }}:latest
    build: ./{{ sub_project_name }}
    container_name: {{ sub_project_name }}
    environment:
      - DEBUG=true
      - OAUTH_TOKEN_HOST=https://{{ domain_name }}
      - OAUTH_TOKEN_PATH=/oauth2/token
      - OAUTH_AUTHORIZE_PATH=/oauth2/authorize
      - OAUTH_AUTHORIZATION_METHOD=body
      - OAUTH_AUDIENCE=https://{{ domain_name }}/r4/ec2458f2-1e24-41c8-b71b-0e701af7583d
      - OAUTH_CALLBACK_URL=https://{{ domain_name }}/mcp/oauth/callback
      - OAUTH_SCOPES=user/Patient.read user/Condition.read user/Observation.read user/MedicationRequest.read user/AllergyIntolerance.read user/Procedure.read user/CarePlan.read user/CareTeam.read user/Encounter.read user/Immunization.read
      - OAUTH_CALLBACK_PORT=3456
      - FHIR_BASE_URL=https://{{ domain_name }}/fhir/R4
      - PUBMED_API_KEY=test
      - TRIALS_API_KEY=test
      - FDA_API_KEY=test
    ports:
      - 5000:5000
    networks:
      - caremate-network
    restart: unless-stopped
