  {{ sub_project_name }}:
    image: {{ sub_project_name }}:latest
    build: ./{{ sub_project_name }}
    container_name: {{ sub_project_name }}
    environment:
      - ACCESS_TOKEN_EXPIRE_MINUTES=10
      - ALGORITHM=HS256
      - CORS_ORIGINS=https://api.fpt.healthcare,https://sdlc-engine.web.app,http://localhost:5173,http://localhost:3000,http://127.0.0.1:5173,null
      - DOCS_URL=/api/v1/docs
      - LOG_LEVEL=INFO
      - OPENAPI_URL=/api/v1/openapi.json
      - POSTGRES_DB=cengine_api
      - POSTGRES_HOST=postgres
      - POSTGRES_PORT=5432
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - REDOC_URL=/api/v1/redoc
      - RESET_PASSWORD_URL=${RESET_PASSWORD_URL}
      - SECRET_KEY=${CENGINE_SECRET_KEY}
      - SMTP_SERVER=${SMTP_SERVER}
      - SMTP_PORT=${SMTP_PORT}
      - SMTP_USER=${SMTP_USER}
      - SMTP_PASSWORD=${SMTP_PASSWORD}
      - OPENAI_API_KEY=${OPENAI_API_KEY}
      - OPENAI_MODEL=${OPENAI_MODEL}
      - AI_TEMPERATURE=${AI_TEMPERATURE}
      - AI_MAX_TOKENS=${AI_MAX_TOKENS}
    ports:
      - 8003:8000
    depends_on:
      - postgres
    networks:
      - caremate-network
    restart: unless-stopped
