  pgvector:
    image: pgvector/pgvector:pg16
    container_name: pgvector
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=doc_cat_db
    volumes:
      - pgvector:/var/lib/postgresql/data
    ports:
      - 5433:5432
    networks:
      - caremate-network
    restart: unless-stopped

  {{ sub_project_name }}:
    image: {{ sub_project_name }}:latest
    build: ./{{ sub_project_name }}
    container_name: {{ sub_project_name }}
    environment:
      - DATA_FILE=data/file
      - DATA_SAMPLE_YAML=data/sample.yaml
      - DATA_STEP_TYPE_YAML=data/step_type.yaml
      - DATA_VECTOR_DATABASE=data/vectordatabase
      - GEMINI_API_KEY=${GEMINI_API_KEY}
      - OCR_API_URL=https://openapi.humanoid.com.vn/api/v1/ocr/blocks
      - OPENAI_API_KEY=${OPENAI_API_KEY}
      - DB_HOST=pgvector
      - DB_PORT=5432
      - DB_USER=${POSTGRES_USER}
      - DB_PASSWORD=${POSTGRES_PASSWORD}
      - DB_NAME=doc_cat_db
      - PROJECT_NANE=Doc-cat-ai
    ports:
      - 8085:8000
    depends_on:
      - pgvector
    networks:
      - caremate-network
    volumes:
      - ./{{ sub_project_name }}/data:/app/data
    restart: unless-stopped
