CONFIG_DIR={{ config_dir }}

CAREMATE_BASE_URL=https://api.fpt-healthcare.com/fhir/R4
CAREMATE_CLIENT_ID={{ caremate_client_id }}
CAREMATE_CLIENT_SECRET={{ caremate_client_secret }}
CAREMATE_TOKEN_URL=https://api.fpt-healthcare.com/oauth2/token
CAREMATE_SCOPE=openid
