{% if ssl_enabled %}
client_max_body_size 10M;

upstream diabetes-risk {
  server diabetes-risk:8000;
}

upstream healthcare-data-converter {
  server healthcare-data-converter:8000;
}

upstream mortality-risk {
  server mortality-risk:8000;
}

upstream multi-ehr-aggregation {
  server multi-ehr-aggregation:8000;
}

upstream sepsis {
  server sepsis:8000;
}
{% endif %}

server {
  listen 80;
  server_name {{ domain_name }};

  {% if not ssl_enabled %}
  location /.well-known/acme-challenge/ {
    root /var/www/certbot;
  }
  {% endif %}

  location / {
    return 301 https://$host$request_uri;
  }
}

{% if ssl_enabled %}
server {
  listen 443 ssl;
  server_name {{ domain_name }};

  ssl_certificate     /etc/letsencrypt/live/{{ domain_name }}/fullchain.pem;
  ssl_certificate_key /etc/letsencrypt/live/{{ domain_name }}/privkey.pem;

  root /usr/share/nginx/html;
  index index.html;

  # Required for streaming
  proxy_http_version 1.1;
  proxy_set_header Connection '';

  # Don't buffer responses
  proxy_buffering off;
  proxy_cache off;

  proxy_set_header Host $host;
  proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
  proxy_set_header X-Forwarded-Host $server_name;
  proxy_set_header X-NginX-Proxy true;
  proxy_set_header X-Real-IP $remote_addr;

  # Optional: increase timeouts if needed
  proxy_read_timeout 3600s;
  proxy_send_timeout 3600s;
  send_timeout 3600s;

  location /diabetes-risk/ {
    proxy_pass http://diabetes-risk/;
  }

  location /healthcare-data-converter/ {
    proxy_pass http://healthcare-data-converter/;
  }

  location /mortality-risk/ {
    proxy_pass http://mortality-risk/;
  }

  location /multi-ehr-aggregation/ {
    proxy_pass http://multi-ehr-aggregation/;
  }

  location /sepsis/ {
    proxy_pass http://sepsis/;
  }

  location / {
    proxy_pass http://diabetes-risk;

    # Forward original host and protocol information
    proxy_set_header Host $host;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header X-Forwarded-Proto $scheme;
    proxy_set_header X-Real-IP $remote_addr;

    # WebSocket support
    proxy_http_version 1.1;
    proxy_set_header Upgrade $http_upgrade;
    proxy_set_header Connection $http_connection;
  }
}
{% endif %}
