  nginx:
    image: nginx@sha256:88b3388ea06c7262e410a3ab5c05dc4088b7b39dea569addd8c30766f4f47440
    container_name: nginx
    ports:
      - 80:80
      - 443:443
    volumes:
      - ${CONFIG_DIR}/nginx/{{ domain_name }}.conf:/etc/nginx/conf.d/{{ domain_name }}.conf:ro
      - ${CONFIG_DIR}/certbot/conf:/etc/letsencrypt:ro
      - ${CONFIG_DIR}/certbot/www:/var/www/certbot:ro
    networks:
      - pacs-network
    restart: unless-stopped
