---
- name: Deploy caremate server
  hosts: all
  roles:
    - role: git-puller
      repo: 'git@github.com:nguyen2v/{{ project_name }}.git'
      dest: '{{ project_name }}'

    - role: caremate-builder
